#home_screen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--MyBg);
    z-index: 30;
}
#home_marquee {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200vw;
    animation: my-marquee 10s linear infinite;
}
#home_marquee:before, #home_marquee:after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  width: 30rem;
}
#home_marquee:before {
  background: linear-gradient(-90deg, transparent, var(--MyBg));
  left: 0;
}
#home_marquee:after {
  background: linear-gradient(90deg, transparent, var(--MyBg));
  right: 0;
}
#home_triangle {
  position: absolute;
  top: 7.5vh;
  width: calc(15rem + 25vh);
  height: calc(15rem + 25vh);
  clip-path: polygon(50% 86%, 100% 0%, 0% 0%);
  background: linear-gradient(var(--MyViolet) 0%, black 90%);
  animation: title-fall 1.4s linear forwards;
  z-index: 25;
}
#home_logo {
  margin-top: 7.5vh;
  margin-left: -1.5rem;
  width: 22rem;
  height: auto;
  animation: title-fall 1.4s linear forwards;
  z-index: 26;
}
#home_applica {
  margin-top: -8vh;
  z-index: 27;
  animation: appliclimb 2.5s linear forwards;
}
#home_play {
  animation: play-reveal 4.5s forwards;
  
}

#home_screen[vanished] {
  animation: home-vanish ease-in 0.8s forwards;
}

@keyframes my-marquee {
    0% { margin-left: 100vw; }
    100% { margin-left: -100vw; }
  }

@keyframes home-vanish {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes play-reveal {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes appliclimb {
  0% { 
    transform: translateY(10vh);
    opacity: 0;
    pointer-events: none;
  }
  60% { 
    transform: translateY(10vh);
    opacity: 0;
    pointer-events: none;
  }
  100% {
    transform: none;
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }
}

@keyframes title-fall {
  0% { transform: translateY(-60vh); }
  25% { transform: translateY(-60vh); }
  100% { transform: none; }
}



